body { 
background: #DADFF1; 
color: #000000; 
font-family: Segoe Print, Segoe Print, Segoe Print; 
font-size: 16px; 
margin: 0; 
height: 100%; 
display: table; 
} 

#container { 
background: #F5F5F5; 
width: 100%; 
height: 600px; 
} 

#header { 
background: #7B68EE; 
height: 100px; 
width: 100%; 
position:relative; 
} 

#header h1{ 
display:inline-block; 
color:white; 
position:absolute; 
top:50%; left:50%; 
margin-top:-10px; 
margin-left:-200px; 
} 

#menu { 
background: #9DADE2; 
float: left; 
width: 25%; 
height: 671px; 

} 

#menu a{ 
font-size: 20px; 
color:black; 
} 

.a1{ 
padding: 20px; 
} 

#content { 
background: white; 
float: right; 
width: 75%; 
height: 671px; 
overflow: scroll; 
} 

.a2{ 
padding: 20px; 
font-size: 20px; 
object-fit: contain; 
} 

.a2 h1{ 
font-size: 36px; 
} 

.a2 .f{ 
width: 100%; 
height: 100%; 
object-fit: scale-down; 
} 

#footer { 
background: #2E20E9; 
height: 100px; 
width: 100%; 
clear: both; 
color:white; 
display: table-row; 
} 

.inner-footer{ 
padding: 10px; 
}